*, ::after, ::before { box-sizing: border-box; }

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

.nadpis {
    font-family: 'Raleway', serif;
    font-weight: 900;
    color: white;
    text-align: center;
}

.hlavicka {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/island-hlavicka.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    padding: 10px;
}

nav {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    list-style-type: none;
}

li {
    color: gray;
    border-bottom: solid;
    border-bottom-width: thin;
    margin: 10px;
    padding-bottom: 5px;  
}

nav a {
    text-decoration: none;
}

p {
    margin-right: 15px;
    margin-left: 15px;
}

.obrazek {
    height: 250px;
    width: 100%;
    
}

.copy {
    text-align: center;
    color: gray;
    margin: 0;
    font-size: 10px;
    margin-bottom: 10px;
}

a {
    color: gray;
}

.titulek {
    margin-left: 15px;
}

hr {
    width: 30%;
    align-items: center;
}

.name {
    text-align: center;
    margin: 0;
    color: gray;
    font-weight: 900;
    font-size: 10px;
}

footer {
color: gray;
background-color: lightgray;
padding-top: 20px;
font-size: 10px;

}