*, ::after, ::before { box-sizing: border-box; }

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

.nadpis {
    font-family: 'Raleway', serif;
    font-weight: 900;
    color: white;
    text-align: center;
}

.hlavicka {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/island-hlavicka.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    padding: 10px;
}

nav {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


nav a {
    text-decoration: none;
    color: gray;
    border-bottom:1px solid;
    margin: 10px;
    padding-bottom: 5px;  
    text-align: center;
    border-color: lightgray;
}

p {
    margin-right: 15px;
    margin-left: 15px;
}

.obrazek {
    height: 250px;
    width: 100%;
    
}

.copy {
    text-align: center;
    color: gray;
    margin: 0;
    font-size: 10px;
    margin-bottom: 10px;
}

a {
    color: gray;
}

.titulek {
    margin-left: 15px;
    position: relative;
 padding-bottom: 10px;
}

.titulek::after {
        content: "";
        display: block;
        width: 100px;
        height: 4px;
        background-color:#629FD8;
        position: absolute;
        bottom: 0;
        left: -50px;
    }

hr {
    width: 30%;
    align-items: center;
}

.name {
    text-align: center;
    margin: 0;
    color: gray;
    font-weight: 900;
    font-size: 10px;
}

footer {
color: gray;
background-color: lightgray;
font-size: 10px;
padding: 20px;
}

.fotogalerie {
    width: 100%;
}

@media (min-width: 480px) {

nav {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;    
}
nav a {
    flex: 1 1;
    margin: 0;
    border: 1px solid;
    padding: 5px;
    border-color: lightgray; 
    font-size: 15px;
}

.fotogalerie {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
}

.obr {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.obr:hover img {
    transform: scale(1.1);
    overflow: hidden;
}

.popisek_obr {
    position: absolute;
   bottom: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100px;
    opacity: 0;
   
    
}
.obr:hover .popisek_obr {
    opacity: 1;
}

.popisek_obr p {
    color: white;
    margin-top: 5px;
}

.popisek_obr a {
    color: white;
    text-decoration: none;
}
.popisek_obr .name {
margin-top: 20px;
}  

p {
    margin-left: 40px;
    margin-right: 40px;
}

.obrazky {
    height: 350px;
    position: relative;
}
.obrazky .copy {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
}

.obrazky a {
    color: white;
    text-decoration:none;
}

.obrazky img {
    height: 350px;
}
}

@media (min-width:1200px) {

    .hlavicka {
        height: 600px;
    }

    .hlavicka .nadpis {
        font-size: 60px;
    }

    .hlavicka p {
        padding-left: 300px;
        padding-right: 300px;
        font-size: 28px;
    }

    .hlavicka hr {
        width: 10%;
    }

    .content {
        width: 70%;
        margin: 0 auto;
        background-color: white;
    }

    body {
        background-color: #F5F5F5;
    }
.menu {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;    
    align-items: flex-start;
    justify-content: left;

    
    
}

.menu nav {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.menu a{
    border: none;
    border-bottom:1px solid;
    text-align: left;
    margin-bottom: 10px;
    border-bottom-color: lightgray;
}
    

.menu .menu_text {
    display: flex;
    flex-direction: column;

}
}